body {
  background-color:white; 
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.85em + 1vw);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.row {
  padding: 20px 40px;
}

.col-sm-4 > img {
  padding-bottom: 10px;
}


img ~ p {
  font-size: 0.47em;
  margin: 0.2em;
  text-align: center;
}

img + p {
  font-size: 0.65em;
  padding: 0.7em;
}

.navbar-brand {
    font-size: 1.0em;
    font-weight: 700;
}

.menu-item {
    font-size: 0.6em;
    font-weight: 400;
}

:root {
  --bootstrap-sm: 576px;
  --bootstrap-md: 768px;
  --bootstrap-lg: 992px;
  --bootstrap-xl: 1200px;
}

#gallery > img {
    height: 75vw;
    object-fit: cover;
    
    @media (min-width: var(--bootstrap-sm)) {
      height: 35vw;
    }
    
    @media (min-width: var(--bootstrap-lg)) {
      height: 18vw;
    }
}

*.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-collapse {
  min-width: 300px;
}
.carousel-inner img {
  margin: auto;
}

/* Style all font awesome icons */
.fa {
  padding: 8px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 0.35em;
}